<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/fontawesome/all.min.css">
<!-- <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax_base16.monokai.dark.css"> -->


<script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
</script>
<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.png' | relative_url }}">

<!-- end custom head snippets -->
